{% extends "base.html" %}

{% block title %}URL Shortener{% endblock %}

{% block body %}

<div class="Wrapper">
    <form action="" , method="post">
        <h1 class="Title">GC URL Shortener</h1>
        <div class="Input">
            <input type="url" name="nm" id="url" class="Input-text" placeholder="Paste URL Here">
            <label for="url" class="Input-label">URL</label>
        </div>
        <div>
            <input class="w3-btn w3-block w3-large w3-black" type="submit" value="Shorten">
        </div>
    </form>
</div>

{% endblock %}